<!DOCTYPE html>
<html ng-app="MapsApp">
<head>
   <title>Traffic Notifier</title>
</head>

<body>
<div ng-controller="MapsController" style="border-bottom: double">
   <h2>Travel Details</h2>
   <form ng-submit="getDirections()">

      <strong>Start</strong>
      <input type="text" ng-model="origin" required/>
      <strong>End</strong>
      <input type="text" ng-model="destination" required/>
      <br/>
      <br/>
      <button action="submit">Find out!</button>
   </form>
   <br/>
   <div ng-show="result">
      <h3>Results:</h3>
      <div><strong>API response status:  </strong>{{ status }} </div>
      <div><strong>Estimated trip time: </strong>{{ result.routes[0].legs[0].duration.text }} </div>
      <div><strong>Epoch trip value: </strong>{{ result.routes[0].legs[0].duration.value }} </div>
      <div><strong>Current Epoch time: </strong>{{ currentTime }} </div>
      <!--<div><strong>Current + trip time (Epoch): </strong>{{ currentTime + result.routes[0].legs[0].duration.value}} </div>-->
      <div><strong>Arrival time (Epoch): </strong>{{ arrivalEpochTime}} </div>
      <div><strong>Arrival time (Readable): </strong>{{ arrivalReadableTime}} </div>
      <div><strong>Trip summary: </strong>{{ result.routes[0].summary }} </div>
      <div><strong>Trip legs: </strong>{{ routeLegCount }} </div>
      <strong>Route list: </strong><div ng-repeat="step in routeList">{{ routeList[step] }} </div>
   </div>
   <br/>
</div>
<br/>
<h3>Twilio Testing</h3>
<div ng-controller="NotifyCtrl">
   {{ testText }}
   <button ng-click="notify()">Click me to send a message!</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDKB4EBWfJj0i2qb-Qul3qxfv9D7Mk_D0"></script>
<script src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
<script src="/javascripts/MapsController.js"></script>

</body>
</html>