<!doctype html>
<html ng-app="MapsApp">
<head>
   <title>Maps App</title>
</head>

<body ng-controller="MapsController as MapsCtrl">
<div>
   <h1>Google Maps API</h1>
   <button ng-click="getMapDirections()">Load</button>
<div>
<br>
<div>{{ data }}</div>
<div>{{ status }}</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script src="/javascripts/MapsController.js"></script>
</body>
</html>